/* Header.css */
.header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #202126;
  }
  
  .header h1 {
    font-size: 2rem;
    position: relative;
    top: 10px;
    color: #ff0000;
    margin-right: 3rem; /* Mengatur jarak antara logo dan menu navigasi */
  }
  
  .header h1 a {
    color: inherit;        /* Menghilangkan warna biru dan menggunakan warna teks induk */
    text-decoration: none;
  }
  .header nav ul {
    display: flex;
    gap: 3rem; /* Mengurangi jarak antar item navigasi */
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  .order-button-log {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
  }

  .auth-buttons {
    margin-left: auto; /* Menjaga tombol auth tetap di kanan */
  }
  
  .auth-buttons button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    
  }

  .auth-buttons a {
    color: inherit;        /* Menghilangkan warna biru dan menggunakan warna teks induk */
    text-decoration: none; /* Menghapus garis bawah pada link */
  }
  